.w3-row
  .w3-col.l6
    %strong Coming
    - coming.each do |r|
      %p= "#{r.first} #{r.last} #{r.plus_one === 'Yes' ? 'and Guest' : ''} - #{r.diet}"
  .w3-col.l6
    %strong Not Coming
    - not_coming.each do |r|
      %p= "#{r.first} #{r.last} #{r.plus_one === 'Yes' ? 'and Guest' : ''} - #{r.diet}"
